.col-sm-3.col-6
    = link_to song do
        .card.bg-dark.text-white
            = image_tag(song.image.url, class: "card-img")
            .card-img-overlay
                %h5.card-title= song.title
                %p.card-text= song.artist.name 