
<div class="container">
	<h1 class="text-center py-3">
		Add new song
	</h1>
	<div class="row justify-content-center">
		<div class="col-sm-4">
			<%= render 'form', song: @song %>

			<%= link_to 'Back', songs_path %>
		</div>
	</div>
</div>

