<div class="jumbotron bg-white">
  <div class="container">
    <h1>Stream and download all your latest and favorite music</h1>
    <%= link_to "Browse Songs", songs_path, class: "btn btn-dark" %>
  </div>
</div>
