<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<h1 class="text-center">Thank You</h1>

				<audio controls>
					<source src="<%= @song.mp3.url%>" type="audio/mp3">
					<source src="<%= @song.mp3.url%>" type="audio/ogg">
              </audio>
              <br>
		</div>
	</div>
</div>