# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 4962e70fd4062b8cda633bc0d8adb6e20e4b59df01154b8ecb4fd2caeb9b894a2d2d996b2f404a654b076cdc2e176fee4d681b0dc20e96c42da434a73d41c0b0

test:
  secret_key_base: da52d225c4b2b82a67360645386138472f9ea9119229075a539fa74d2781a10934b3012c30b8931c66b76cc8905ce79335d6f0867939badc5afe174d80d0877c

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
