<div class="container">
  <%= link_to "View all artistes", root_path, class: "btn btn-dark btn-lg" %>
  <%= link_to "View all songs", root_path, class: "btn btn-dark btn-lg" %>
  <%= link_to "View all users", root_path, class: "btn btn-dark btn-lg" %>
</div>
